.investment-opportunities-container {
    line-height: 1.6;
    color: #333;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
     /* font-size: 81.25%; */
     
  } 
  
  .section {
    padding: 7rem 2rem;
  }
  
  .split-background {
    display: flex;
    align-items: center;
  }
  
  .content {
    flex: 1;
    padding-right: 2rem;
  }
  
  .investmentOpportunitiesimage-container {
    flex: 1;
    /* background-color: blue; */
  }
  
  .investmentOpportunitiesimage-container img {
    width: 97%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  h1, h2, h3, h4 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  h2 {
    font-size: 2rem;
    color: #444;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #555;
  }
  
  h4 {
    font-size: 1.25rem;
    color: #666;
  }
  
  p {
    margin-bottom: 1rem;
    text-size-adjust: 100%;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  strong {
    font-weight: bold;
  }
  
  #investment-opportunities-our-company {
    background-color: #f9f9f9;
  }
  
  #our-vision {
    background-color: #f0f0f0;
  }
  
  #our-mission {
    background-color: #e9e9e9;
  }
  
  #what-sets-us-apart {
    background-color: #f5f5f5;
  }
  
  #our-services {
    background-color: #f0f0f0;
  }
  
  #why-invest {
    background-color: #e9e9e9;
  }
  
  #location {
    background-color: #f5f5f5;
  }
  
  #contact {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    .split-background {
      flex-direction: column;
    }

    .content, .investmentOpportunitiesimage-container {
      width: 100%;
      padding-right: 0;
    }
    .section {
      padding: 0rem 2rem;
    }


    .investmentOpportunitiesimage-container img {
      width: 100%;
    }
  
    .investmentOpportunitiesimage-container {
      margin-top: 2rem;
    }
    .investment-opportunities-container {
        margin-top: 0px;
      }
  }

  @media screen and (min-width: 1024px) {
    .investment-opportunities-container {
      margin-top: 180px;
    }
  }
  
  